.conatact_main_container{
    height: 1060px;
    width: 100%;
    background-image: url(../images/contact-bg.jpg);

}
.contact_us{
    text-align: center;
    padding-top:80px;
    line-height: 40px;
}
.h2_contact_us{
    color: green;
    font-size: 20px;
    font-weight: 600;
}
.p_contact_inner{
    color: #fff;
    font-size: 50px;
    width: 60%;
    margin: auto;
    line-height: 60px;
}
.contact_grid_outer{
    display: grid;
    grid-template-columns: 66% 34%;
    height: 400px;
    width: 70%;
    margin: auto;
    padding-top: 55px;
}
.grid_inner-1{
    background-color: rgb(14, 13, 13);
   opacity: 0.5;
   
}
.grid_inner_2{
 background-color:rgb(15, 15, 15);
}
form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}
label{
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.form-title{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 30px;
    font-family:Arial, Helvetica, sans-serif;
   
}
input{
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background: transparent;
    outline: none;
}
input:hover{
    border-color: green;
}
textarea{
    resize: none;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background: transparent;
}
.btn-submit{
    background-color: rgb(70, 153, 70);
    color: #fff;
    padding: 18px 0;
    border: none;
    margin-top: 15px;
    font-size: 15px;
}
.grid_inner_2{
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
}
.conatct_info_heading{
    color: #fff;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
.grid_pop_1{
    font-size: 16px;
    color: gray;
    line-height: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h4_tag{
    color: green;
    padding: 10px 0;
}
.grid_pop_2{
  display: flex;
 flex-direction: row;
 gap: 14px;
}
.contact-icons{
    color:#fff;
    font-size: 20px;
    
}
@media screen and (max-width:481px){
    .contact_grid_outer{
        display: grid;
        grid-template-columns: 60% 40%;
        height: 600px;
        width: 100%;
        margin: auto;
        padding-top: 50px;
    }
    .p_contact_inner{
        font-size: 25px;
    }
    .grid_inner_2{
        padding: 40px;
    }
}